@import url ('https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>)
@import url(http://weloveiconfonts.com/api/?family=zocial);


* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;

}

body {
	 font-family: "Open Sans" ;
}

---------------------
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body{
  background: url("http://subtlepatterns.com/patterns/cloth_alike.png") repeat scroll 0% 0% transparent;
}

.wrapper{
  width: 325px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -162px;
  margin-top: -25px;
}

.icon{
  display: inline-block;
  position: relative;
  color: #bdbdbd;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 1.47em;
  line-height: 2em;
  background-color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 3px 0px #bdbdbd, 0px 3px 10px #bababa;
  -webkit-transition:background-color 250ms ease 0s;
  transition:background-color 250ms ease 0s;
}

.zocial-facebook{margin-left: -8px}

.icon.facebook:hover{background-color: #4986c7;}
.twitter:hover{background-color: #4cb6e8;}
.linkedin:hover{background-color: #29a0cc;}
.youtube:hover{background-color: #a32929;}
.flickr:hover{background-color: #c257ad;}
.email:hover{background-color: #d5b120;}

a{
  text-decoration: none;
}

.icon:hover{
  color: #fff;
  box-shadow: 0px 3px 0px #686868, 0px 3px 10px #7e7e7e;
}

.icon:active{
  box-shadow: inset 0px 1px 4px #3d3d3d, 0px 0px 0px #bdbdbd;
  top: 3px;
}
----------------------------

div#topbar
img {
    border: 0;
}


div#topbar{
    width: 150px;
    height: 108px;
    display: block;
  
    position: absolute;
    background: url(../images/logo.png) no-repeat;
}

a {
	text-decoration: none;
}

div#header {
	
	width: 100%;
	height: 40px;
	background-color: #D24D57;
	margin: 0, auto;

}

div#topbar {
	
	width: 100%;
	height: 40px;
	background-color: #4183D7;
	margin: 0, auto;

}

.logo {
	float:left
	margin-top:15px;
}

.logo a {
	
	font-size: 1.6em;
	color: #fff;
}

.logo a span {
	font-weight:300;
}

div#container {
	
	width: 100%;
	margin: 0, auto;
}

.sidebar{
	width: 250px;
	height: 100%;
	background-color: #26A65B;
	float:left;
}

.content {
	width: auto;
	margin-left: 250px;
	height: 100%;
	background-color: #ff0000;
	padding: 15px;
	}
	
ul#nav {
	
}	

ul#nav li {
	list-style: none;
}	

ul#nav li a {
	
      color: #fff;
      display:block;
      padding: 12px;
      font-size: 0.8em;
      boder-bottom:
}

ul#nav li a:hover {
	background-color: #03030303;
	color: #fff;
}
